<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="plantilla/plantilla :: head">
        <title>Acceso denegado</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"></header>
        <div class="text-warning font-weight-bolder text-center">
            <h1>Error 403</h1>
            Acceso denegado.
            No tiene permisos para ver esta página o ejecutar esta acción.
            <a th:href="@{/}" class="btn btn-light btn-block">
                <i class="fas fa-arrow-left"></i>[[#{accion.regresar}]]
            </a>
        </div>
        <footer th:replace="plantilla/plantilla :: footer"></footer>
    </body>
</html>
