<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla :: head">
        <title>Login</title>       
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"></header>
        <section id="action" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <!--Se pueden agregar comentarios-->
                </div>
            </div>
        </section>

        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-med-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>Login</h4>
                            </div>
                            <div class="card-body">
                                <form method="POST" th:action="@{/login}">
                                    <div class="form-group">
                                        <label for="username" th:text="#{login.usuario}">Username:</label>
                                        <input type="text" name="username" id="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" th:text="#{login.contrasena}">Password:</label>
                                        <input type="password" name="password" id="password"/>
                                    </div>
                                    <button class="btn btn-primary btn-block" type="submit" th:text="#{login.iniciar}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="plantilla/plantilla :: footer"></footer>
    </body>
</html>
